*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
    --backgroudColor: rgb(0, 110, 92);
    --backgroudColorSecond: rgb(0, 177, 124);

    --fontColor: #fff;
    

    --gray: #eeeeee;
}

.button__tree{
    background: white;
    border: white;
    border-radius: 1rem;
}

.garden{

    background: var(--backgroudColor);
    width: 60vw;
    height: 60vh;

    position: absolute;
    top: 10vh;
    left: 50%;

    -webkit-transform: translateX(-50%);

        -ms-transform: translateX(-50%);

            transform: translateX(-50%);

    border-radius: 2rem;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
}

.garden__button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 46vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: absolute;
    top: 10vh;
    left: 50%;
    -webkit-transform: translateX(-48%);
        -ms-transform: translateX(-48%);
            transform: translateX(-48%);
    height: 40vh;
    -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
}


.garden__tittle{
    height: 10vh;
    font-family: Roboto;
    font-weight: 700;
    font-size: 7vh;
    color: white;
    text-align: center;
    width: 60vw;
    position: absolute;
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 740px) 
  and (orientation: portrait) {

    .garden {
        background: var(--backgroudColor);
        width: 60vw;
        height: 201vh;
        position: absolute;
        top: 5vh;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        border-radius: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .garden__button{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 46vw;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        position: absolute;
        top: 10vh;
        left: 50%;
        -webkit-transform: translateX(-48%);
            -ms-transform: translateX(-48%);
                transform: translateX(-48%);
        height: auto;
        -ms-flex-line-pack: space-evenly;
            align-content: space-evenly;
    }
    
    .button__tree{
        background: white;
        border: white;
        border-radius: 1rem;
        margin: .5rem;
    }

} 
