*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --backgroudColor: rgb(0, 110, 92);
    --backgroudColorSecond: rgb(0, 177, 124);

    --fontColor: #fff;
    

    --gray: #eeeeee;
}

.button__tree{
    background: white;
    border: white;
    border-radius: 1rem;
}

.garden{

    background: var(--backgroudColor);
    width: 60vw;
    height: 60vh;

    position: absolute;
    top: 10vh;
    left: 50%;

    transform: translateX(-50%);

    border-radius: 2rem;

    display: flex;
}

.garden__button{
    display: flex;
    width: 46vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-48%);
    height: 40vh;
    align-content: space-evenly;
}


.garden__tittle{
    height: 10vh;
    font-family: Roboto;
    font-weight: 700;
    font-size: 7vh;
    color: white;
    text-align: center;
    width: 60vw;
    position: absolute;
}
