*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --backgroudColor: rgb(19, 83, 67);
    --btnColor: #36CC7C;

    --fontColor: #ffffff;

    --gray: #eeeeee;
}

.app{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}

body{
    background: var(--backgroudColor);
}

.form{
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: 10% 20% 1fr 10%;
    grid-template-rows: 10% 1fr 50% 10%;

    grid-template-areas:
    'top top top top'
    'margin1 middle middle margin2'
    'margin3 register middle2 margin4'
    'margin5 bottom bottom margin6';

}

.login{

    margin-top: 1rem;


    position: absolute;
    left: 50%;
    transform: translateX(-150%);



    text-decoration: none;

    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;
}

.form__login{
    position: relative;
}

.form__register{
    grid-area: register;
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none;
}

.input__form{
    margin: .3rem 0rem;
    padding: .8rem 3rem .8rem 1rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: black;


    border-radius: 4px;
    border: none;
    background: var(--gray);
}
.register__tittle{
    margin-bottom: 1rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 28px;

    color: #FFFFFF;
}

.register__buttom{
    padding: .4rem 3rem;
    margin-top: 1rem;


    background: var(--btnColor);
    border: none;
    border-radius: 33px; 


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color:var(--fontColor);
}



